<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <style>
        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

         #link-login {
            display: block;
            text-align: center;
        }

         #message {
            text-align: center;
            display: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 17px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Log in</h1>
    <form id="form-login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Log in</button>
    </form>
    <p id="link-login">Already have an account? <a href="/register">Register</a></p>
    <p id="message"></p>
    <script>
        const message = document.getElementById('message');
        document.getElementById('form-login').addEventListener('submit', async function (event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const result = await fetch('/login', {
                                        method: 'POST',
                                        body: formData
                                    })
            if(!result.ok){
                const data = await result.json();
                showMessage(`Error: ${data.message}`, true);
                return
            }
            window.location.href = '/dashboard';
        });

        function showMessage(messageText, isError){
            message.style.display = 'block';
            message.style.color = isError ? 'red' : '#01b604';
            message.textContent = messageText;
        }
    </script>
</body>
</html>